<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head')%>
  <link rel="stylesheet" href="/public/indexStyle/base.css">
  <title>Home</title>
</head>

<body>
  
    <%- include('./layout/header')%>
  
  <main>
    <div class="header">
      <h2> Welcome to Wasfatcom!</h2>
      <p> We are here to help you to Find your Dish <br>
        what do you want to cook for today?<br>
      </p>
    </div>
    <div class="paraghraph">
      <p> We can give you more than one you to cook it. <br>
        Also we will take care of your health by giving you <br>
        nutrition about your dish.</p>
     <a href="/search"><input type="button" name="Search" value="Search" ></a> 
      <a href="/BMI"><input type="button" name="bmi" value="BMI"></a>
    </div>
    <div class="main">
      <h2> Anything is good if it’s made of LOVE. </h2>
      <p> Ask not what you can do for your country.<br>
        Ask what’s for lunch.<br>
      </p>
    </div>
  </main>
  <footer>
    <%- include('./layout/footer')%>

  </footer>




  <%- include('./layout/javascript')%>
</body>

</html>