<!DOCTYPE html>
<html lang="en">

 <head>
  <%- include('./layout/head')%> 
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
   
  
  <link rel="stylesheet" href="styles/modules.css">
 </head>
 
    

<body>
<center>
<header>
  <div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
  <a href="/">Home</a>
  <a href="#">login</a>
  <a href="#">Search for recipe</a>
  <a href="searches/new">Search for Grocery</a>
  <a href="#">Calculate your BMI</a>
  <a href="#">About us</a>
</div>
<button class="openbtn" onclick="openNav()"> ☰ &nbsp  Wasfatcom</button>  
</header>
    <main >
        <section >
        <h2 id="h2">About us:</h2>
        <p id="ourWebsite"> Welcome to Wasfatcom!<br> We here are  to help you to don't overthink <br> what do you want to cook for today, It can give <br> you suggestions for today's dish in several ways <br> and take care of your health by giving you nutrition about your dish, you can choose the best and add it to your list and you have the ability to change according to your needs. Additionally, you can write your own recipe and save it. </p>
         
      
            </section>
            <div>
              
           
            <p id="bmi"> In addition to that you can know more about your health, <br> we provide for you to calculate your Body Mass Index (BMI).The BMI is a measure used to determine if you are a healthy weight for your height. It is calculated by dividing your weight in kilograms by your height in metres squared,  to place you in a category of underweight, healthy weight, overweight or obese.
             </p>
           </div>
    </main>

    <%- include('./layout/footer')%>
    </center>
    
</body>

</html>
