<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/searchStyle/reset.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/searchStyle/base.css"> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="search.css">
    <title>search</title>
</head>
<body>
    <header>
        <nav>
            <div class="list">
              <i class="fa fa-bars menu" aria-hidden="true"></i>
            </div>
            <ul>
              <li>
                <a href="#">Home </a>
              </li>
              <li>
                <a href="#">About us </a>
              </li>
              <li>
                <a href="#">Books </a>
              </li>
              <li>
                <a href="#">Contact </a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
<div id="slider">

<figure>
    <img src=" /public/img/foodPic1.jpg">
    <img src="/public/img/foodPic2.jpg">
    <img src="/public/img/ya4.jpg">
    <img src="/public/img/ya16.jpg">
    <img src="/public/img/foodPic1.jpg">
</figure>
</div>
<h1>Search Page</h1>
<div class="paragraphSearch" >
    <p> 
        Are you hungry?🍔<br>
        Are you looking for special recipe with special ingredient?🔍<br>
        Here in our website you can find want are you searching for EASILY.. 🔥<br>
        just type in the Searching box what ever you WANT 
    
    </p>
</div>

<div class="formSearch">
    <form action="\search" method="POST" data-aos="flip-right">
        <label >
           <h3> <span id="keyword">What Are You Looking For</span></h3></label>
            <input id='searchForRecpie' type="search" name="SearchFor" placeholder="The name of dish "> 
      
   
   <input class="button" type="submit" value="SEARCH">
   </form>
</div>

    </main>
    <footer>

    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
        <script src="https://code.jquery.com/jquery-3.4.1.js">
        </script>
        <script type="text/javascript">
        $(document).ready(function(){
      $('.menu').click(function(){
        $('ul').toggleClass('active')
      })
      }); 
        </script>
</body>
</html>