<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="render">
        <p><%=obj.status%></p> 
        <p> <%=obj.result%></p> 
        <p> woman : <%=obj.ideal_weight.woman%>  ,man : <%=obj.ideal_weight.man%></p> 
      </section>
</body>
</html>