/*index.ejs*/
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

/* main */
main{
  background-image: url("https://images.unsplash.com/photo-1477370795277-0c4a53692ce2?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
  width: 100%;
  background-size: cover;
  height: 650px;
  padding-top: 30px;
  padding-left: 25px;
  box-sizing: border-box;
}


#h2{
    font-family: 'Secular One', sans-serif;
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
    margin-left: 5px;
    color: #29363D;
   
}
#ourWebsite{
    
    padding:20px;
    color:rgb(102, 79, 70)  ;
    text-align: left;
    font-family: 'Balthazar', serif;
    font-size: 20px;
}

#bmi{
    padding:20px;
    text-align: left;
    border-radius: 10px;
    font-family: 'Balthazar', serif;
    font-size: 18px;
    color:#8a8476 ;

}
.fa-facebook-f{

 font-size: x-large;
 color: blue;

}
.fa{
  font-size: x-large;
  color: blue;
}