<div class="flex">
    <div id="contact">
        <p id="contact1">Contact </p>
        <div class="flexBox">
        <div class="square-wrap">
            <div class="square">
              <div class="line one vertical"></div>
              <div class="line two horizontal"></div>
              <div class="line three vertical"></div>
              <div class="line four horizontal"></div>
          
              <div class="line five vertical"></div>
              <div class="line six horizontal"></div>
              <div class="line seven vertical"></div>
              <div class="line eight horizontal"></div>
              <div class="line nine vertical"></div>
              <div class="line ten horizontal"></div>
          
              <div class="eleven circle"></div>
              <div class="twelve circle"></div>
            </div>
          </div>

          <div class="container">
            <div class="back-circle"></div>
            <div class="button"></div>
            <div class="front-circle"></div>
            <i class="fa fa-phone phone"></i>
          </div>

          <div class="relative-wrap">
            <div class="mail">
                <div class="mail-top"></div>      
            </div>
     
        </div>
    </div>
    </div>
    <div class="about">
        <h6>About us</h6>
        <p>
            This website helping you to find recipes And checking your BMI to control your health
        </p>
    </div>

</div>
<div class="icons">
    <a href="#"><span>Facebook</span></a>
    <a href="#"><span>Twitter</span></a>
    <a href="#"><span>Google+</span></a>
    <a href="#"><span>Github</span></a>
    <a href="#"><span>Dribbble</span></a>
    <a href="#"><span>CodePen</span></a>
</div>


<!-- <p><img src="https://i.pinimg.com/564x/6b/8d/de/6b8dde954efc091a53e09f6a875d4678.jpg" alt="" class="fa"
    width="18px">&nbsp &nbsp &nbsp Amman, Jordan </p>
<p><img src="https://i.pinimg.com/564x/5c/1e/a8/5c1ea8bd513ccfced12e4d73d406e217.jpg" alt="" class="fa"
    width="18px"> &nbsp info@wasfatcom.com </p>
<p><img src="https://i.pinimg.com/564x/b2/66/fb/b266fb1b3f1551dbc3ce0eba69f6547c.jpg" alt="" class="fa"
    width="18px"> &nbsp +962 7 9000 0000 </p>
</p> -->