<footer>
<section id="footerInfo">
  

<div id="info">
<p id="social">Social Media</p>
<i class="fab fa-facebook-f"></i>
    <img class="faIcon" src="https://i.pinimg.com/564x/66/00/da/6600dadfc1c86fbd96c22c40c3e46d3f.jpg" width="18px" alt="instgram"><br>
 <img class="faIcon" src="https://i.pinimg.com/564x/c1/d9/30/c1d930e05a9827b385de1eaf79648832.jpg" width="18px"  alt="pinterest"> 
    
  </div>
<div id="border">
  
</div>
<div id="contact" >
  <p id="contact1">Contact
  <p ><img src="https://i.pinimg.com/564x/6b/8d/de/6b8dde954efc091a53e09f6a875d4678.jpg" alt="" class="fa" width="18px">&nbsp &nbsp &nbsp Amman, Jordan </p>
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="https://i.pinimg.com/564x/5c/1e/a8/5c1ea8bd513ccfced12e4d73d406e217.jpg" alt="" class="fa" width="18px"> &nbsp info@wasfatcom.com   </p>
  <p>&nbsp<img src="https://i.pinimg.com/564x/b2/66/fb/b266fb1b3f1551dbc3ce0eba69f6547c.jpg" alt="" class="fa" width="18px"> &nbsp +962 7 9000 0000   </p>
  </p>
</div>

</div>
</section><hr >

    <p id="footer">&copy;2020 Copyright: Wasfatcom </p>
</footer>
<script>
function openNav() {
  document.getElementById("mySidepanel").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
}
</script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
