<header>
    <nav>
        <img src="/public/img/logo.jpg">
        <div class="list">
            <i class="fa fa-bars menu" aria-hidden="true"></i>
        </div>
        <ul>
            <li>
                <a href="/">Home </a>
            </li>
            <li>
                <a href="#"> My Recipe </a>
            </li>
            <li>
                <a href="/search">Search </a>
            </li>
            <li>
                <a href="/BMI">BMI </a>
            </li>
        </ul>
    </nav>
</header>