
<header>
  <div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">login</a>
  <a href="/">Home</a>
  <a href="#">Search for recipe</a>
  <a href="searches/new">Search for Grocery</a>
  <a href="#">Calculate your BMI</a>
  <a href="#">About us</a>
  <button class="openbtn" onclick="openNav()"> ☰ &nbsp  Wasfatcom</button> 
</div>

</header>


